h1{
    font-size: 90px;
    color: red;
}
body{
    background-color: rgb(31, 31, 31);
}
p{
    color: white;
    font-size: 45px;
}
p2{
    color: rgb(255, 255, 255);
    font-size: 45px;
}
p3{
    color: white;
    font-size: 45px;
}
h2{
    color: white;
    font-size: 55px;
}
p1{
    color: white;
    font-size: 45px;
}